backend/.venv/
backend/.env
backend/*.db
backend/__pycache__/
backend/**/__pycache__/
frontend/node_modules/
frontend/dist/
frontend/.env
.DS_Store

# google-github-actions/auth credentials file
gha-creds-*.json

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/terraform.tfvars
terraform/tfplan
terraform/*.auto.tfvars
